@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Outfit:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Rubik', 'Outfit', 'Roboto', sans-serif;
    font-size: 22.5px;
    color: dimgray;
}

html, body {
    scroll-behavior: smooth;  /* smooth anchor jumps */
    //overflow-x: hidden;       /* no horizontal scroll */
}

.q-page-container {
    padding-top: 0 !important;
}

:root {
    /* Main tones */
    --light-wood: #A0522D;
    --light-wood-on-dark: rgba(160, 82, 45, 0.8);
    --light-wood-on-dark-strong: rgba(160, 82, 45, 0.97);

    --wood-dark: #2E1A0F;
    --wood-on-dark: rgba(46, 26, 15, 0.5);
    --wood-on-dark-strong: rgba(46, 26, 15, 1);
    --wood-on-dark-hover: rgba(160, 82, 45, 0.2);
    --wood-shadow: rgba(46, 26, 15, 0.7);

    /* Accents & background highlights */
    --bg-orange: rgb(255, 140, 66);
    --text-col-on-bg: rgb(148, 115, 82);

    --primary-text-custom: #FF8C42FF;

    /* Other settings */
    --border-radius: 4px;
    --font-size-small: 18px;
}

$light-wood: var(--light-wood);
$light-wood-on-dark: var(--light-wood-on-dark);
$light-wood-on-dark-strong: var(--light-wood-on-dark-strong);

$wood-dark: var(--wood-dark);
$wood-on-dark: var(--wood-on-dark);
$wood-on-dark-strong: var(--wood-on-dark-strong);
$wood-on-dark-hover: var(--wood-on-dark-hover);
$wood-shadow: var(--wood-shadow);

$bg-orange: var(--bg-orange);
$text-col-on-bg: var(--text-col-on-bg);
$primary-text-custom: var(--primary-text-custom);

$border-radius: var(--border-radius);
$font-size-small: var(--font-size-small);



// ---------- Z-INDEX CONFIGURATIONS ----------
// 100+ : top-most interactive elements
$z-idx-on-top-of-everything: 1000;
$z-idx-modal: 120;
$z-idx-tooltip: 110;
$z-idx-noties: 105;

// 80-99 : layout and global UI
$z-idx-layout-el: 21;
$z-idx-page-header: 21;

// 50-79 : page content and visuals
$z-idx-cover-img: 48;
$z-idx-content: 50;
$z-idx-anim: 45;

// 0-49 : background / structural layers
$z-idx-bg: 20;               // background elements (gradients, bg images)
$z-idx-containers: 0;        // base wrapper / structural containers

//<style lang="scss">
//@import '../css/app';
/* app global css */
