@import './app.scss';
@import './quasar-variables';

$primary-bg-gradient: linear-gradient(90deg, $q-primary 15%, $light-wood);
$dark-bg-gradient: linear-gradient(90deg, $bg-orange 15%, $wood-dark);
$medium-bg-gradient: linear-gradient(90deg, $q-primary 15%, $wood-dark);


// Semi-Transparent Variants
$primary-bg-gradient-semi: linear-gradient(
                90deg,
                color-mix(in srgb, $q-primary 90%, transparent) 15%,
                color-mix(in srgb, $light-wood 90%, transparent)
);

$dark-bg-gradient-semi: linear-gradient(
                90deg,
                color-mix(in srgb, $bg-orange 90%, transparent) 15%,
                color-mix(in srgb, $wood-dark 90%, transparent)
);

$medium-bg-gradient-semi: linear-gradient(
                90deg,
                color-mix(in srgb, $q-primary 90%, transparent) 15%,
                color-mix(in srgb, $wood-dark 90%, transparent)
);

// Strongly Transparent Variants (~80%)
$primary-bg-gradient-strong: linear-gradient(
                90deg,
                color-mix(in srgb, $q-primary 60%, transparent) 15%,
                color-mix(in srgb, $light-wood 60%, transparent)
);

$dark-bg-gradient-strong: linear-gradient(
                90deg,
                color-mix(in srgb, $bg-orange 60%, transparent) 15%,
                color-mix(in srgb, $wood-dark 60%, transparent)
);

$medium-bg-gradient-strong: linear-gradient(
                90deg,
                color-mix(in srgb, $q-primary 60%, transparent) 15%,
                color-mix(in srgb, $wood-dark 60%, transparent)
);


// Normal Gradients
.primary-bg-gradient {
  background: $primary-bg-gradient;
}

.dark-bg-gradient {
  background: $dark-bg-gradient;
}

.medium-bg-gradient {
  background: $medium-bg-gradient;
}

// Semi-Transparent Gradients
.primary-bg-gradient-semi {
  background: $primary-bg-gradient-semi;
}

.dark-bg-gradient-semi {
  background: $dark-bg-gradient-semi;
}

.medium-bg-gradient-semi {
  background: $medium-bg-gradient-semi;
}

// Strongly Transparent Gradients
.primary-bg-gradient-strong {
  background: $primary-bg-gradient-strong;
}

.dark-bg-gradient-strong {
  background: $dark-bg-gradient-strong;
}

.medium-bg-gradient-strong {
  background: $medium-bg-gradient-strong;
}

// glass effect
.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(12px); // Safari

  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
  }
}
