@import './app.scss';
@import './quasar-variables';
@import 'bg-styling';

// font related stuff
.rubik-ds {
  font-family: "Rubik DS", "Rubik", "Outfit", "Roboto", ui-sans-serif, system-ui, sans-serif;
}

.text-h1-2 {
  font-size: 67.5px;
}

// classes
.page-bg {
  background-color: antiquewhite;
  color: $text-col-on-bg;
}

.container-div {
  width: 100%;
  min-height: 100vh;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.custom-paragraph {

}

//.custom-site-link{
//  font-family: "Fira Code", monospace;
//  font-optical-sizing: auto;
//  font-style: normal;
//  color: var(--primary-text-custom);
//  background: var(--bg-teal);
//}

.custom-site-link{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  //color: var(--primary-text-custom);
  color: blue;

  text-decoration: underline;
  //text-decoration-color: var(--primary-text-custom);
  text-decoration-color: blue;
  text-underline-offset: 3px;
}
.custom-site-link:hover{
  cursor: pointer;
}


.fira-code-button {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-col-on-bg);
}
.fira-code-button:hover{
  color: var(--primary-text-custom);
}

.img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $z-idx-bg;
  //background: $primary-bg-gradient;
}
