$q-primary   : #d2691e;
$q-secondary : #a0522d;
$q-accent    : #ff8c42;

$q-dark      : #2e1a0f;
$q-dark-page : #121212;

$q-positive  : #6ba368;
$q-negative  : #b7410e;
$q-info      : #c1a57b;
$q-warning   : #e29d6f;
